{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<div class="index">
    <div class="title">
      <h1 style="font-size:2.2em;font-weight:700;letter-spacing:-0.5px;color:#171717;margin:0">
        Clawith<span style="color:#16a34a">.me</span> <span style="font-weight:300;color:#808080">SEARCH</span>
      </h1>
      <p style="font-size:0.85em;color:#b0b0b0;margin:6px 0 0 0">Powered by SearXNG</p>
    </div>
    {% include 'simple/simple_search.html' %}
</div>
{% endblock %}
